* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../images/cork-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    color: white;

}
.note {
    padding-top: 20px;
    width: 200px;
    height: 100px;
}

#note_title {
    width: 200px;
    height: 30px;
    margin: 10px 20px;
    background-color: #59d6e5;
}
#note_content {
    width: 200px;
    height: 80px;
    margin: 10px 20px;
    background-color: #59d6e5;

}
.button {
    float: left;
    margin-top: 50px;
    margin-left: 10px;

}

#btn:hover {
    cursor: pointer;
}

#btn {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: dimgray;
    padding: 0.5em;
    background-color: #119191;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 20px 10px;
    width: 150px;
    float: left;
}
#removebtn {
    font: bold 16px Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    padding: 1px;
    opacity: 0.8;
    background-color: red;
    border-radius: 2px;
    position: absolute;
    margin-top: 100px;
    margin-left: 183px;
    display: block;
    border-style: none;

}
#removebtn:hover {
    cursor: pointer;
}

#draggable {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: 3px 3px grey;
    /*margin: 90px 40px;*/
    background-color: #66A7BB;
    word-wrap: break-word;
    position: absolute;

}

h1 {
    margin-top: 0;
    padding-top: 0;
    width: 200px;
    display: inline-block;
    line-height: 30px;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    word-wrap: break-word;
    position: absolute;
}

p {
    position: relative;
    margin-top: 50px;
}

input {
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
}