* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../images/cork-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    color: dimgray;
}

.note {
    padding-top: 20px;
    width: 200px;
    height: 100px;
}

#note_title {
    width: 200px;
    height: 30px;
    margin: 10px 20px;
    background-color: #59d6e5;
}
#note_content {
    width: 200px;
    height: 80px;
    margin: 10px 20px;
    background-color: #59d6e5;


}
.button {
    float: left;
    margin-top: 50px;
    margin-left: 10px;

}

#btn:hover {
    cursor: pointer;
    background-color: #C2C2C2;
}

#btn {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 20px;
    color: dimgray;
    padding: 0.1em;
    background-color: lightgray;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 20px 10px;
    width: 150px;
    float: left;
}
#removebtn {
    font: bold 16px Helvetica, Arial, sans-serif;
    line-height: 16px;
    color: #FFFFFF;
    padding: 2px;
    opacity: 0.8;
    background-color: red;
    border-radius: 2px;
    position: absolute;
    margin-top: 102px;
    margin-left: 203px;
    display: block;
    border-style: none;

}
#removebtn:hover {
    cursor: pointer;
    background-color: darkred;
}

#draggable {
    width: 220px;
    height: 220px;
    border: 1px solid darkgray;
    border-radius: 2px;
    box-shadow: 2px 2px darkgray;
    background-color: yellow;
    word-wrap: break-word;
    position: absolute;

}
#draggable:nth-child(1) {
    background: yellow;
}
#draggable:nth-child(2) {
    background: pink;
}
#draggable:nth-child(3) {
    background: lightsteelblue;
}
#draggable:nth-child(4) {
    background: orange;
}
#draggable:nth-child(5) {
    background: lawngreen;
}

h1 {
    margin-top: 0;
    padding-top: 0;
    padding-left: 5px;
    width: 200px;
    display: inline-block;
    line-height: 30px;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    word-wrap: break-word;
    position: absolute;
}

p {
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 5px;
}

input {
    border: 1px solid gray;
    padding: 6px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: dimgray;
}